* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

body { 
    font-family: sans-serif; 
}

.container {
    width: 95%;
    margin: 50px auto;
}
/* //////////////////// Navbar /////////////////////// */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #265e9d;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
  
  }
  
  .dropdown-content a {
    float: none;
    color: #265e9d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: start;
  }
  
  .dropdown-content a:hover {
    background-color: #ff0000;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* //////////////////// End Navbar /////////////////////// */

/* //////////////////// Carousel /////////////////////// */

.gallery-cell {
    width: 100%;
    height: 500px;
    margin: 0 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}


/* big buttons, no circle */
.flickity-prev-next-button {
    width: 50px;
    height: 50px;
    background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}
.flickity-prev-next-button.no-svg {
    color: white;
}
.flickity-prev-next-button:hover {
    background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
    display: none;
}

/* position dots in gallery */
.flickity-page-dots {
    bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
    background: white;
}
/* //////////////////// End Carousel /////////////////////// */

